:root {
  /* light mode colours */
  --aqua: aqua;
  --lime: #c2e235;
  --red: #d6513c;
  --purple: #a556e8;
  --bg-white: #f3f2f0;
  --hover-grey: #3C3A3D;
  --navy: #0095ff;
  --green: #78dc24;
  --orange: #d18232;
  --text-color: #222;
  --secondary-text: #555555;
}

/* dark mode colours */
body.dark-mode {
  --aqua: #016D6D;
  --lime: #254400;
  --red: #FD7963;
  --purple: #C172FF;
  --bg-white: #111111;
  --hover-grey: #C6C4C7;
  --navy: #009AFF;
  --green: #036801;
  --orange: #B66716;
  --text-color: #DDDDDD;
  --secondary-text: #AAAAAA;
}

html {
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.4;
}

body {
  color: var(--text-color);
  font-family: monospace;
  font-size: 24px;
  background: var(--bg-white);

  h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 16px;
    font-size: 24px;

    @media (max-width: 600px){
      margin-top: 80px;
    }

    a{
      text-decoration: none;
      color: inherit;
    }
  }

  /* ===== recommend form ===== */
  .recommend-form {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    align-items: center;   /* horizontally center every child */
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  .recommend-form label {
    text-transform: lowercase;
    font-size: 18px;
    justify-content: left;
    width: 80%;
    text-align: left;
  }

  .recommend-form input,
  .recommend-form textarea {
    font-family: inherit;
    font-size: 16px;
    padding: 4px;
    border: 1px solid var(--text-color);
    width: 80%;
    justify-content: center;
    background-color: var(--bg-white);
    color: var(--text-color);
  }

  .recommend-form textarea {
    min-height: 120px;
    resize: vertical;
  }

  /* button wrapper inside form */
  .recommend-form .button-aqua {
    display: inline-block;
  }

  .recommend-form .button-aqua button {
    background-color: var(--lime);
    border: none;
    padding: 4px 8px;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
  }

  .recommend-form .button-aqua button:hover {
    background-color: var(--hover-grey);
    color: white;
  }

  /* message span */
  #formResult {
    font-size: 18px;
  }

  .header{

    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    max-width: 720px;

    a {
      text-decoration: none;
      color: inherit;
      padding: 2.5px;

      &:hover{
        background-color: var(--hover-grey) !important;
        color: white !important;
      }
    }


  }

  .navigation {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    max-width: 720px;

    a {
      text-decoration: none;
      color: inherit;
      padding: 2.5px;

      &:hover{
        background-color: var(--hover-grey) !important;
        color: white !important;
      }
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      padding: 0;
      max-width: 640px;
    }

    .button-aqua {
      a {
        background-color: var(--aqua);
      }
    }

    .button-lime {
      a {
        background-color: var(--lime);

      }
    }

    .button-red {
      a {
        background-color: var(--red);
      }
    }

    .button-purple {
      a {
        background-color: var(--purple);
      }
    }

    .button-navy {
      a {
        background-color: var(--navy);
      }
    }

    .button-green{
      a {
        background-color: var(--green);
      }
    }

    .button-orange{
      a {
        background-color: var(--orange);
      }
    }

  }

  .aboutContent{
    text-align: left;

    h4 {

      font-weight: bold;
      font-size: 20px;
      margin: 0;
    }

    p {
      margin-bottom: 16px;
      margin-top: 8px;
      color: var(--text-color) !important;
    }

    a {
      &:hover{
        background-color: var(--hover-grey) !important;
        color: white !important;
      }
    }

  }

  .sectionContent {

    font-size: 18px;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 0;


    a {
      color: inherit;
      padding: 2px;

      &:hover{
        background-color: var(--hover-grey) !important;
        color: white !important;
      }
    }


    .tag-red {
      background-color: #e86c6c;
      font-size: 12px;
      padding: 1px;
    }

    .tag-light-blue {
      background-color: #88b0c8;
      font-size: 12px;
      padding: 1px;
    }

    .tag-yellow {
      background-color: #e1bb6a;
      font-size: 12px;
      padding: 1px;
    }

    .tag-grey {
      background-color: #838383;
      font-size: 12px;
      padding: 1px;
    }

    .tag-blue {
      background-color: #67a7a8;
      font-size: 12px;
      padding: 1px;
    }

    p {
      margin: 0;
      color: var(--secondary-text);
      font-size: 16px;
      margin-bottom: 8px;

    }

    .text {
      text-align: left;
    }
  }

  .blogContent{

    font-size: 18px;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 0;

    .date {
      margin: 0;
      color: var(--secondary-text);
      font-size: 16px;
      margin-bottom: 8px;

    }

    .title {
      text-align: left;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 16px;
      font-size: 24px;

      @media (max-width: 600px) {
        margin-top: 80px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

    }

    p {
      font-size: 16px;
      text-align: left;
      padding-bottom: 8px;
    }


  }
}





